@model ClassLibrary.DIC_RANKS

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DIC_RANKS</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.DRK_NAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DRK_NAME)
            @Html.ValidationMessageFor(model => model.DRK_NAME)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "AllRanks")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
