@model ClassLibrary.PERSON

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PERSON</legend>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.PR_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PR_NAME)
    </div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.PR_POS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PR_POS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PR_PH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PR_PH)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "AllPeople")
    </p>
}
